@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Tajawal", sans-serif,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Navbar styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 5rem;
  }
  
  nav .logo {
    display: flex;
    font-size: 2rem;
    align-items: center;
  }
  
  nav .logo i {
    color: #166b56;
    padding-left: 0.75rem;
  }
  nav .bars-menu {
    display: none;
  }
  nav .logo h4 {
    font-family: "Lalezar", cursive;
  }
  
  nav .nav-items {
    display: flex;
    list-style-type: none;
  }
  
  nav .nav-items .nav-item {
    padding: 0 1rem;
  }
  
  nav .nav-link {
    text-decoration: none;
    color: #02795f;
    font-size: 1.4rem;
  }
  
  nav .nav-link:hover {
    color: #00daa3;
  }
  
/* Heor styling */
.hero {
  background-color: #f8f7fc;
}

.hero-section {
  max-width: 1366px;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 5rem;
}

.hero-section .content {
  display: flex;
  flex-direction: column;
}

.hero-section .content h4 {
  color: #166b56;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.hero-section .content h1 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.hero-section .content p {
  color: rgb(29, 29, 29);
  font-size: 1.4rem;
}

.hero-section .content p span.purple {
  color: #0fe6d4;
  font-weight: bold;
}

.hero-section form {
  display: flex;
}
.btn {
  width: 10rem;
  margin-top: 3rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding: 0.75rem 1.5rem;
  background-color: #166b56;
}

.btn:hover {
  background-color: #22f322;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.4rem;
}
/*WHAT DO YOU DO*/
.whatDoYouDO {
  margin: 0;
  max-width: 1366px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(241, 236, 240);
  overflow: hidden;
}

.whatDoYouDO div {
  font-family: sans-serif;
}

.whatDoYouDO h1 {
  color:#03443f;
  text-align: center;
  position: relative;
}


.whatDoYouDO p {
  font-size: 24px;
  width: 400px;
  height: 2.5em;
  color: rgb(164, 204, 187);
  border: 2px solid darkkhaki;
  line-height: 2.5em;
  text-align: center;
  border-radius: 10px;
  letter-spacing: 2px;
  word-spacing: 2px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.whatDoYouDO p span {
  position: absolute;
  width: 100%;
  left: 0;
  transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1);
}

.whatDoYouDO p span.answer {
  color: whitesmoke;
  font-size: 1.1em;
  text-transform: uppercase;
  background: hsla(0, 0%, 0%, 0.1);
  left: -100%;
}

.whatDoYouDO p:hover span {
  cursor: pointer;
  transform: translateX(100%);
}

#view{
  margin: 2rem 2rem;
}
.courses-table {
  width: 100%;
  border-collapse: collapse;
}

.courses-table th, .courses-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
#course .edit .delete {
  padding: 0.5rem;
  cursor: pointer;
  color: #ffffff;
}
#course .edit{
  background-color: #4CAF50;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}
#course .delete{
  background-color: #f44336;
        color: white;
        padding: 6px 12px;
        border-radius: 4px;
        cursor: pointer;
}


.courses-table th {
  background-color: #f2f2f2;
}

/* Footer */
footer {
  background-color: #f8f7fc;
  height: 15vh;
  margin-top: 5rem;
  padding: 2rem 0;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 5rem;
}

.footer-section p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-section .socials {
  margin-bottom: 1rem;
}
.footer-section .socials i {
  padding: 0 0.5rem;
  font-size: 1.6rem;
}

.footer-section .socials i:hover {
  color: #cbb9e4;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .courses-table th, .courses-table td {
      padding: 5px;
  }
}


.delete-link {
  color: red;
  text-decoration: none;
}

.delete-link:hover {
  text-decoration: underline;
}


.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  appearance: none; 
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="%23333"><path d="M28 9.4L26.6 8 16 18.6 5.4 8 4 9.4l12 12z"/></svg>'); /* إضافة رمز السهم لعنصر select */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}


select option {
  background-color: #fff;
}

  /* Responsive Design */
@media (max-width: 1300px) {
    * {
      font-size: 85%;
    }
    div .content{
      font-size: 3rem;
     }
     form {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 1175px) {
    * {
      font-size: 80%;
    }
    form {
      font-size: 1rem;
    }
    div .content{
      font-size: 3rem;
     }
  }
  
  @media (max-width: 1000px) {
    * {
      text-align: center;
    }
    form {
      font-size: 1rem;
    }
    div .content{
      font-size: 3rem;
     }
    .hero img {
      display: none;
    }
    .hero-section {
      align-items: center;
      padding: 2rem 0rem;
      width: 50%;
    }
    .hero .btn {
      align-self: center;
    }
    .hero .content {
      margin-top: 3rem;
    }
  
  
    .features-section .qualities {
      flex-wrap: wrap;
      justify-content: center;
    }
    section.features .features-section {
      align-items: center;
    }
    .Färdtjänsts-section h4 {
      align-self: center;
    }
  }
  
  @media (max-width: 660px) {
    div .content{
      font-size: 3rem;
     }
    .hero-section .content h1 {
      font-size: 3rem;
    }
    .Färdtjänsts-section {
      align-items: center;
    }
    .Färdtjänsts-section .Färdtjänsts {
      grid-template-columns: 1fr 1fr;
    }
    form {
      font-size: 1rem;
    }
  
  }
  
  @media (max-width: 504px) {
    .Färdtjänsts-section .Färdtjänsts {
      grid-template-columns: 1fr;
    }
    nav {
     
      top: 0;
      width: 100%;
    }
    nav .bars-menu {
      display: block;
      font-size: 3rem;
    }
    div .content{
     font-size: 3rem;
    }
    nav .nav-items {
      position: absolute;
      left: 0;
      top: 10vh;
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #22f3a3;
      padding: 2rem 0;
    }
    nav .nav-items .nav-item {
      margin: 1rem 0;
    }
    nav .nav-items .nav-item a {
      color: white;
    }
    nav .nav-items.active {
      display: flex;
    }
    form {
      font-size: 1rem;
    }
    
  @media (min-width: 768px) {
    #bookingForm {
        max-width: 800px;
    }
  }
  }
  